
<!--material-checkbox #done materialTooltip="Mark item as done">
 </material-checkbox-->


        <span   (click)="onSelect()">{{conferenceInput.conferenceName}}</span>
        <button type="button" class="btn btn-primary" aria-label="Left Align"(click)="removeFromParent()">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>




<template [ngIf]="isSelected">

    <form class="form-horizontal" >
        <div class="form-group">

            <div class="col-sm-10">
                <input type="text" class="form-control " id="exampleInputText" placeholder="Conference Name"
                       #newConferenceKids
                       (keyup.enter)="addConferenceKids(newConferenceKids.value)" >
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="addConferenceKids(newConferenceKids.value)">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>

        </div>

    </form>
<div>
   <ol   style="text-indent: 1em" >
      <li *ngFor="let c of  conferenceInput.conferenceKids; let i=index " [class.selected]="isSelected" >

      <liste
              [conferenceInput]="c" (removeConf)="remove(i)"
      ></liste>
   </li>
      <hr>
   </ol>
   </div>
</template>



   <!-- <input #newConference1
           (keyup.enter)="addConferenceName1(newConference1.value)">

    <button (click)="addConferenceName1(newConference1.value)">Add</button>

    <ul><li *ngFor="let newConferenceName1 of conferenceName1" [class.selected]="newConferenceName1 === selectedConference1"
            (click)="onSelect1(newConferenceName1)" >
        {{newConferenceName1}}
    </li></ul>
    <hr>
    <div *ngIf="selectedConference1 != null">
        <h2>{{selectedConference1}} details!</h2>
        <liste2>

        </liste2>
    </div> -->






