<div>
    <input #newConferenceKids
           (keyup.enter)="addConferenceKids(newConferenceKids.value)" >
    <button (click)="addConferenceKids(newConferenceKids.value)">Add</button>
</div>





<!--
<input #newConference2
       (keyup.enter)="addConferenceName2(newConference2.value)">

<button (click)="addConferenceName2(newConference2.value)">Add</button>

<ul><li *ngFor="let newConferenceName2 of conferenceName2" [class.selected]="newConferenceName2 === selectedConference2"
        (click)="onSelect2(newConferenceName2)" >
    {{newConferenceName2}}
</li></ul>
<hr>
<div *ngIf="selectedConference2 != null">
    <h2>{{selectedConference2}} details!</h2>
    <liste>

    </liste>
</div>
-->
